.sectionContainer {
  padding-top: 150px;
  padding-bottom: 100px;
  z-index: 1;
  position: relative;
  overflow-x: inherit;
}

.subTitle {
  max-width: 80%;
}

.experiencesContainer {
  display: flex;
  gap: 2%;
  position: relative;
}

.image_container {
  width: 20%;
  position: relative;
}

.images {
  position: sticky;
  top: 20vh;
  left: 0px;
}

.images .filter_back_for_image_height img {
  object-fit: contain;
  width: 17.1vw;
  opacity: 0;
}

.images .filter_left {
  width: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.images .filter_left img {
  object-fit: contain;
  /* Largeur de image_container * largeur de la page sans paddings - la largeure de la slid_bar*/
  width: 17.1vw;
}

.images .filter_right {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.images .filter_right img {
  object-fit: contain;
  /* Largeur de image_container * largeur de la page sans paddings - la largeure de la slid_bar*/
  width: 17.1vw;
}

.experiences {
  width: 80%;
  /* border: black 1px solid; */
}

.experience {
  width: 100%;
  padding: 0 0 20px 20px;
  position: relative;
  cursor: pointer;
}

.experience::before {
  margin: 20px 0;
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  border-right: 0.3px solid #0000003c;
  left: 6px;
}

.experience:last-child::before {
  margin: 20px 0;
  content: "";
  position: absolute;
  width: 0px;
  height: 70%;
  border-right: 0.3px solid #0000003c;
  left: 6px;
}

.experience .experienceContent {
  padding: 0 30px 30px 0;
}

.experienceContent .title {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
}

.experienceContent .experienceTitle {
  font-size: 24px;
  font-weight: 500;
  margin: 0 10px 5px 0;
}
.experienceContent .experienceTitle::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--bubleSize);
  height: var(--bubleSize);
  background: var(--bubleBackgroundColor);
  border-radius: var(--bubleBorderRadius);
  border: var(--bubleBorder);
  box-shadow: var(--bubleShadow);
}

.experienceContent img {
  width: 22px;
}

.experienceContent .companyName {
  font-size: 14px;
}

.experienceDate {
  display: flex;
  gap: 10px;
}

.date {
  font-size: 12px;
  opacity: 0.9;
}

.experienceResum {
  max-width: 70%;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
}
pre {
  white-space: pre-line;
}

.agile {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
}

.agile img {
  height: 17px;
}

.agile p {
  font-size: 14px;
}

.keyWords {
  display: flex;
  gap: 8px;
}

.onglet {
  position: relative;
}

.onglet .more {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;
  padding: 3px 0px;
  margin: 5px;
  align-items: center;
  gap: 7px;
  /* border-bottom: 1px solid rgba(0, 0, 0, .2); */
}
.onglet .more p {
  font-size: 12px;
}
.onglet .more svg {
  height: 12px;
  opacity: 0.6;
  transition: 0.2s;
}
.onglet .more svg .vertical.open {
  transform-origin: center;
  transform: rotate(90deg);
}

.onglet .more .hoverMore {
  height: 19px;
  transition: 0.2s;
}

.onglet .front {
  width: 100%;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -2px;
  background-color: var(--backgroundColor);
}

.onglet .back {
  width: 90%;
  background-color: var(--backgroundColor);
  border-radius: 8px;
  transform: skew(2.5deg, 0.5deg);
  filter: drop-shadow(1px 1px 3px rgba(79, 79, 79, 0.25));
  position: absolute;
  z-index: -2;
  bottom: 1px;
  right: 1px;
  transition: 0.2s;
}

.onglet .hoverback {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.45));
  transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
  .experienceContent img {
    width: 20px;
  }

  .experienceContent .companyName {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .subTitle {
    max-width: 100%;
  }

  .image_container {
    display: none;
  }
  .experiences {
    width: 100%;
  }

  .experience .experienceContent {
    padding: 0 15px 30px 0;
  }

  .experienceContent .experienceTitle {
    font-size: 21px;
  }

  .date {
    font-size: 11px;
  }

  .experienceResum {
    max-width: 100%;
  }

  .experienceContent img {
    width: 18px;
  }

  .experienceContent .companyName {
    font-size: 10px;
  }
}

@media only screen and (max-width: 390px) {
  .sectionContainer {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .experienceContent .experienceTitle {
    font-size: 19px;
  }

  .date {
    font-size: 9px;
  }

  .keyWord {
    margin-bottom: 20px;
  }
}
