<div class="sectionContainer">
  <div class="subSectionContainer">
    <div class="titleSections">
      <h1 class="titleFront">{{ title }}</h1>
      <h1 appSlidingText class="titleBack">{{ title }}</h1>
    </div>
    <p class="subTitle">{{ subTitle }}</p>
    <div class="testimonialsContainer">
      <div appScrollFadeInAnimation class="comments">
        <div *ngFor="let comment of comments" class="comment">
          <div class="commentHeader">
            <div class="name_role_note">
              <div class="name_role">
                <div>{{ comment.first_name }}</div>
                <div>{{ comment.last_name }}</div>
              </div>
              <div class="note">
                <div
                  *ngFor="let note of getNoteElementsClasses(comment.note)"
                  class="{{ note }}"
                ></div>
              </div>
            </div>
            <div class="company_date">
              <div class="company">
                <p>{{ comment.company_name }}</p>
              </div>
              <div class="date">{{ comment.createdAt | date : "MMM dd" }}</div>
            </div>
          </div>
          <div class="commentContent">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
      <!-- <button (click)="openDialog()">Ajouter un commentaire</button> -->
    </div>
  </div>
</div>
