.sectionContainer {
  padding-top: 120px;
  padding-bottom: 100px;
}

.postsContainer {
  display: flex;
  margin-bottom: 30px;
}

.posts {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.posts .post {
  cursor: pointer;
  border: 1px solid var(--grey_subtle_borders_separators);
  transition: 0.2s;
  border-radius: 5px;
  height: 250px;
  display: flex;
  width: 49%;
}

.posts .post .left_side {
  width: 30%;
  overflow: hidden;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.posts .post .left_side img {
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.3s;
  filter: grayscale(20%);
}

.posts .post .right_side {
  width: 70%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posts .post .right_side .title_resum .title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.posts .post .right_side .title_resum .resum {
  margin-top: 10px;
  /* font-size: 0.8rem; */
}

.posts .post .right_side .keywords_date_readTime p {
  font-size: 0.7rem;
  margin: 0;
}

.posts .post .right_side .keywords_date_readTime .keywords {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.posts .post .right_side .keywords_date_readTime .date_readTime {
  display: flex;
  justify-content: space-between;
}

.posts
  .post
  .right_side
  .keywords_date_readTime
  .date_readTime
  .readTime_container {
  display: flex;
}

.posts .post:hover {
  border: 1px solid var(--grey_hovered_ui_element_border);
  background-color: var(--subtle_background);
}

.posts .post:hover .left_side img {
  filter: grayscale(0%);
}

.button {
  margin-left: auto;
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  .posts .post {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .posts .post .left_side {
    display: none;
  }
  .posts .post .right_side {
    width: 100%;
  }
}
