<div class="sectionContainer">
  <div class="subSectionContainer">
    <div class="titleSections">
      <h1 class="titleFront">{{ title }}</h1>
      <h1 appSlidingText class="titleBack">{{ title }}</h1>
    </div>
    <p class="subTitle">{{ subTitle }}</p>
    <div class="postsContainer">
      <div appScrollFadeInAnimation class="posts">
        <div
          (click)="onClickPost()"
          *ngFor="let post of posts$ | async"
          class="post"
        >
          <div class="left_side">
            <img
              [src]="
                'https://blogapi.adriencheynet.fr/public/image/' +
                post.id +
                '/' +
                post.coverImageName
              "
            />
          </div>
          <div class="right_side">
            <div class="title_resum">
              <h1 class="title">
                {{ post.title }}
              </h1>
              <p class="resum">
                {{ post.resum }}
              </p>
            </div>
            <div class="keywords_date_readTime">
              <div class="keywords">
                <div *ngFor="let keyword of post.keywords" class="keyWord">
                  <p>{{ keyword.name }}</p>
                </div>
              </div>
              <div class="date_readTime">
                <p class="date">{{ post.date | date : "dd MMMM yyyy" }}</p>
                <div class="readTime_container">
                  <img src="assets/timer.svg" />
                  <p>{{ post.readTime }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      appScrollFadeInAnimation
      (click)="onClickAllPosts()"
      class="button outline size2"
    >
      Voire tous les articles
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 12H19"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 5L19 12L12 19"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</div>
