.separatorContainer {
  width: auto;
  height: 10px;
  /* border: rgb(8, 0, 252) solid 1px; */
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 80px;
}

.separatorContainer .leftSeparator {
  height: 8px;
  width: 50%;
  /* border: red solid 1px; */
  /* Sombre calcul */
  transform: skew(0deg, 0.8deg) translateY(calc((-25vw * 0.014) + 2px));
  background-color: var(--app_background);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.separatorContainer .rightSeparator {
  height: 8px;
  width: 50%;
  /* border: red solid 1px; */
  transform: skew(0deg, -0.8deg) translateY(calc((-25vw * 0.014) + 2px));
  background-color: var(--app_background);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.separatorContainer .triangle {
  /* bottom: -17px; */
  /* bottom: -2vw; */
  /* hauteure des Separator + hauteur du border-top (definit dans le .ts) */
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  position: absolute;
  z-index: 2;
}

.separatorContainer .mask {
  height: 25px;
  bottom: -2px;
  background-color: var(--app_background);
  width: 100%;
  position: absolute;
  z-index: 3;
  /* display: none; */
}
