.sectionContainer {
  background-color: var(--solid_backgrounds);
  overflow-x: hidden;
}
.stackContainer {
  width: auto;
  padding: 45px 40px 10px 40px;
  margin: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  /* border: 1px white solid; */
}
.skill svg {
  opacity: 0.5;
  transition: 0.3s;
  height: 60px;
}

.skill:nth-child(3) svg {
  opacity: 0.5;
  transition: 0.3s;
  width: 80px;
}

.skill p {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.skill:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.skill:hover svg {
  opacity: 0.8;
  transition: 0.2s;
}

.skill:hover p {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s;
}

@media only screen and (max-width: 767px) {
  .stackContainer {
    padding: 25px 0 0px 0;
    margin: 20px 0px 5px 0px;
  }

  .skill svg {
    height: 30px;
    width: 30px;
  }

  .skill:nth-child(3) svg {
    width: 40px;
  }
}
