@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.cdk-global-scrollblock{
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

* {
  box-sizing: border-box;
  font-family: 'KoHo', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  margin: 0;
  background-color: var(--backgroundColor);
}

:root {
  --backgroundColor: #fdfeff;
  --backgroundColor2: #fafcff;

  --mainColor1: #202429;
  --mainColor1b: rgba(35, 37, 40, 0.85);
  --mainColor2: #FFBA18;

  /* texts */
  --textTitleColor: #21201C;
  --textParagraphColor: #63635E;

  /* bubles */
  --bubleSize: 10px;
  --bubleBackgroundColor: var(--mainColor2);
  --bubleBorderRadius: 100%;
  --bubleBorder: 0.3px solid rgba(0, 0, 0, 0.5);
  --bubleShadow: inset 2px 2px 1px rgba(0, 0, 0, 0.1);

  /* snackbar */
  --successColor: #A8C69F;
  --successColorDarck: #3e483b;
}

h1, h2, h3, p {
  margin: 0;
  color: var(--textTitleColor);
}

h1 {
  margin-bottom: 25px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: var(--textParagraphColor);
}

.subTitle {
  margin-bottom: 40px;
}

.noScrollBack {
  overflow-y: hidden;
}

.titleSections {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.titleSections .titleFront {
  font-size: 64px;
  font-weight: 300;
}

.titleSections .titleBack {
  font-size: 128px;
  font-weight: 600;
  color: var(--mainColor1);
  opacity: .03;
  position: absolute;
  top: -60px;
  left: -5%;
}

.sectionContainer {
  padding: 0 7vh;
  overflow-x: hidden;
}

.subSectionContainer {
  max-width: 1540px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 1vh;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--mainColor1b);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--mainColor1);
}

::selection {
  background-color: var(--mainColor2);
  color: #f1f1f1;
}

button {
  padding: 0 40px;
  height: 40px;
  background-color: var(--mainColor1);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mat-mdc-snack-bar-container {
  &.success-information {
    --mdc-snackbar-container-color: var(--successColor);
    --mdc-snackbar-supporting-text-color: var(--successColorDarck);
  }
}

.keyWord {
  font-size: 11px;
  background-color: transparent;
  border: solid 1px var(--textParagraphColor);
  padding: 5px 15px;
  color: var(--textParagraphColor);
  border-radius: 4px;
}

@media only screen and (max-width: 1024px){

  .titleSections {
    margin-bottom: 37px;
  }

  .titleSections .titleFront {
    font-size: 50px;
  }

  .titleSections .titleBack {
    font-size: 100px;
    top: -45px;
    /* line-height: 100px; */
  }
}

@media only screen and (max-width: 767px){

  .sectionContainer {
    padding: 0 3vh;
  }

  .titleSections {
    margin-bottom: 30px;
  }

  .titleSections .titleFront {
    font-size: 40px;
  }

  .titleSections .titleBack {
    font-size: 75px;
    top: -35px;
  }

  .keyWord {
    font-size: 7px;
    padding: 4px 12px;
  }
}

@media only screen and (max-width: 390px){
  .titleSections {
    margin-bottom: 15px;
  }
}
