@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/shared/style/buttons.css";
@import "app/shared/style/scrollbar.css";

.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

* {
  box-sizing: border-box;
  font-family: "KoHo", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--app_background);
}

:root {
  --app_background: #fafbfc /* 1 */;
  --subtle_background: #f7f8fa /* 2 */;
  --subtle_background: #f7f8fa /* 2 */;
  --solid_backgrounds: #202429 /* 9 */;
  --solid_backgrounds_contrast: #ffffff /* 9bis */;

  --mainColor2: #ffc53d;

  --grey_ui_element_background: #edeff2 /* 3 */;
  --grey_hover_ui_element_background: #e4e7eb /* 4 */;
  --grey_subtle_borders_separators: #d3d8df /* 6 */;
  --grey_hovered_ui_element_border: #b3b9c2; /* 8 */
  --grey_hovered_solid_backgrounds: #7b828c /* 10 */;
  --grey_low_contrast_text: #5d636b /* 11 */;
  --grey_high_contrast_text: #1c2025 /* 12 */;

  /* bubles */
  --bubleSize: 10px;
  --bubleBackgroundColor: var(--mainColor2);
  --bubleBorderRadius: 100%;
  --bubleBorder: 0.3px solid rgba(0, 0, 0, 0.5);
  --bubleShadow: inset 2px 2px 1px rgba(0, 0, 0, 0.1);

  /* snackbar */
  --successColor: #a8c69f;
  --successColorDarck: #3e483b;
}

h1,
h2,
h3,
p {
  margin: 0;
  color: var(--grey_high_contrast_text);
}

h1 {
  margin-bottom: 25px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: var(--grey_low_contrast_text);
}

.subTitle {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.noScrollBack {
  overflow-y: hidden;
}

.titleSections {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.titleSections .titleFront {
  font-size: 64px;
  font-weight: 300;
}

.titleSections .titleBack {
  font-size: 128px;
  font-weight: 600;
  color: var(--solid_backgrounds);
  opacity: 0.03;
  position: absolute;
  top: -60px;
  left: -5%;
}

.sectionContainer {
  padding: 0 7vh;
  overflow-x: hidden;
  /* overflow-x: hidden; */
}

.subSectionContainer {
  max-width: 1540px;
  margin: auto;
}

.keyWord {
  font-size: 11px;
  background-color: transparent;
  border: solid 1px var(--grey_subtle_borders_separators);
  padding: 5px 15px;
  color: var(--grey_low_contrast_text);
  border-radius: 4px;
}

.initial_fade_in_animation {
  opacity: 0;
  transform: translateY(20px);
}

.fade_in_animation {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
  .titleSections {
    margin-bottom: 37px;
  }

  .titleSections .titleFront {
    font-size: 50px;
  }

  .titleSections .titleBack {
    font-size: 100px;
    top: -45px;
  }
}

@media only screen and (max-width: 767px) {
  .sectionContainer {
    padding: 0 3vh;
  }

  .titleSections {
    margin-bottom: 30px;
  }

  .titleSections .titleFront {
    font-size: 40px;
  }

  .titleSections .titleBack {
    font-size: 75px;
    top: -35px;
  }

  .keyWord {
    font-size: 7px;
    padding: 4px 12px;
  }
}

@media only screen and (max-width: 390px) {
  .titleSections {
    margin-bottom: 15px;
  }
}
