<div class="sectionContainer">
  <div class="subSectionContainer">
    <div class="titleSections">
      <h1 class="titleFront">{{ title }}</h1>
      <h1 appSlidingText class="titleBack">{{ title }}</h1>
    </div>
    <div appScrollFadeInAnimation class="resumContainer">
      <pre><p>Je suis Adrien, développeur web indépendant spécialisé dans le <b>Front-end</b>.

        Après avoir accumulé une expérience significative en travaillant sur divers projets pour de grandes entreprises, j'ai choisi d'exploiter mes compétences en proposant mes services en tant qu'<b>indépendant</b>.

        J'aide les entreprises et particuliers à concrétiser leurs projets en ligne. Mon objectif est de mettre en place des applications <b>performantes</b>, <b>fiables</b> et <b>évolutives</b>. Ce sont autant d'engagements qui animent mes journées et vos projets.

        Je porte un grand intérêt au travail minutieusement réalisé et prend un réel plaisir à découvrir de nouveaux secteurs qui me permettent de relever de nouveaux défis.

        Explorez mon portfolio pour découvrir les projets que j'ai réalisé et n'hésitez pas à me contacter pour que l'on échange sur la manière dont je pourrais vous aider à atteindre vos objectifs</p></pre>
      <!-- <div class="buble1" appSlidingImg [ratioX]="-0.0" [ratioY]="0.05"></div>
      <div class="buble2" appSlidingImg [ratioX]="-0.1" [ratioY]="0.05"></div> -->
    </div>
  </div>
</div>
