.sectionContainer {
  margin-top: 200px;
  margin-bottom: 200px;
}

.aboutContainer {
  max-width: 600px;
}

.aboutContainer p {
  line-height: 1.5rem;
}

pre {
  white-space: pre-line;
  text-align: justify;
}

@media only screen and (max-width: 767px){
  .aboutContainer p {
    line-height: 1.2rem;
  }
}
