.sectionContainer {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--backgroundColor2);
}

.subSectionContainer {
  position: relative;
}

.resumContainer {
  max-width: 650px;
}

.resumContainer p {
  line-height: 1.5rem;
}

pre {
  white-space: pre-line;
  text-align: justify;
}

.buble1 {
  position: absolute;
  top: 100px;
  right: -200px;
  height: 350px;
  width: 350px;
  border-radius: 30rem;
  border: 0.3px solid rgba(0, 0, 0, 0.30);
  background: #EAA92C;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.10) inset, 5px 5px 5px 0px rgba(0, 0, 0, 0.10);
}
.buble2 {
  position: absolute;
  top: 400px;
  right: 200px;
  height: 80px;
  width: 80px;
  border-radius: 30rem;
  border: 0.3px solid rgba(0, 0, 0, 0.30);
  background: #EAA92C;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.10) inset, 5px 5px 5px 0px rgba(0, 0, 0, 0.10);
}

@media only screen and (max-width: 767px) {
  .sectionContainer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .resumContainer p {
    line-height: 1.2rem;
  }

  .buble1 {
    display: none;
  }
  .buble2 {
    display: none;
  }
}
